@model Dictionary<string, string>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var key in Model.Keys)
                {
                    <tr>
                        <td>@key</td>
                        <td>@Model[key]</td>
                    </tr>
                }
            }
        </tbody>
    </table>
