@model string

@using System.Linq;

@{ 

/*
<div class="container">
<table class="table table-striped table-bordered">
    @{
        foreach (var item in Model)
        {
            <tr>
                <th class="thead-dark font-weight-bold">@item.Key</th>
                <td>@item.Value</td>
            </tr>
        }
    }
</table>
</div>

*/
}
<p class="lead">@Model</p>
<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Redirect To</a>