@model CityViewModel

<table class="table table-striped table-bordered">
    <tr>
        <th>Cities:</th>
        <td>@Model.Cities</td>
    </tr>
    <tr>
        <th>Population:</th>
        <td>@Model.Population.ToString("#,###")</td>
    </tr>
</table>