
@model IEnumerable<City>

<div class="container-fluid ">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (City city in Model)
                {
                    <tr>
                        <td wrap>@city.Name</td>
                        <td>@city.Country</td>
                        <td>@city.Population?.ToString("#,###")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="text-center">
        <a href="/Home/Create" class="btn btn-primary">Add City</a>
    </div>

    <br />
    <div title="This is the TITLE" include-footer="false" include-header="false">

    </div>

</div>

