
    @model string[]


    <div class="container">
        <div class="card-deck">

            <div class="card">
                <div class="card-header">
                    <h3 class="lead">
                        List of fruit
                    </h3>
                </div>

                <div class="card-body">
                    This is a list of fruit names:
                    <br />
                    @foreach (var item in Model)
                    {
                        <span style="font-style:italic;"><b>@item</b></span>
                    }
                </div>
            </div>

        </div>
    </div>


