

<div class="card">
    This is the List View
    @await Html.PartialAsync("MyPartial", new string[] { "Index", "List", "Contacts" })
</div>

<br />
<hr />
<br />

<div class="container">
    <script id="jsonData" type="application/json">
        @Json.Serialize(new string[] { "Apple", "Pear", "Bannana", "Strawberry" })
    </script>
</div>

<div class="container">
    <script type="text/javascript">
        $(document).ready(function () {
            var list = $("#list");
            JSON.parse($("#jsonData").text()).forEach(function (val) {
                console.log("Val: " + val);
                list.append($("<li>").text(val))
            });
        });
    </script>
</div>

<div class="container">
    <div class="card">
        <ul id="list"></ul>
    </div>
</div>